.projects-section {
  padding: 6rem 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5rem; /* Similar size to Skills title */
  color: #333; /* Normal font color */
  font-weight: bold; /* Make the title bold */
  margin-bottom: 2rem; /* Adjust the spacing below the title */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* Required for overlay */
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-image-container {
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  transition: opacity 0.3s ease;
  padding-left: 0.3rem; /* Move text to the left by adding padding */
}


.project-card:hover .project-overlay {
  opacity: 1;
}

.overlay-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.overlay-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0 1rem; /* Add padding for better text wrapping */
  word-wrap: break-word; /* Ensure text wraps within the container */
  overflow-wrap: break-word; /* Handle word breaks in case of long words */
  text-align: center; /* Center the text within the overlay */
  max-width: 90%; /* Ensure the text stays within the bounds of the overlay */
}


.project-content {
  padding: 1.5rem;
  text-align: center; /* Centering the text below the image */
}

.project-content h3 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem; /* Increase margin-bottom to create more space */
}

.btn-primary {
  padding: 0.5rem 1.5rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem; /* Increase margin-top for more space */
}


.btn-primary:hover {
  background-color: #fca311;
  transform: scale(1.05);
}

.projects-section {
  padding: 5rem 2rem; /* Reduced top padding to move the section higher */
  background-color: #f4f4f4;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5rem; /* Similar size to Skills title */
  color: #333; /* Normal font color */
  font-weight: bold; /* Make the title bold */
  margin-bottom: 3rem; /* Adjust the spacing below the title */
  margin-top: 0; /* Removes any extra margin at the top */
}

